<a href="/about">
		<div class="by"><p>by <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p160x160/10492046_10204082114155024_405927399992593470_n.jpg?oh=a7d2e16abc2e86153366daeaffddf4ba&oe=55AAE821&__gda__=1437971053_3092d9905574193c1839051ff8f19ad9" class="hoverZoomLink"> Daniel Lockyer &amp; <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/62624_500850913297623_2080908729_n.jpg?oh=c6ecc74965f6f3e046fb3a40bf7f8b71&oe=55AAEA54&__gda__=1437625581_3c96034640facab86cbcb44634604a0b" class="hoverZoomLink"> Jet Holt</p></div>
</a>