<!DOCTYPE html>
<html>
<head>
	<title>Sentiment Analysis</title>
	<style>
		html, body {width:100%;height:100%;overflow: hidden;margin:0;padding:0;}
		body { background: #3B5997; box-shadow: inset 0 0 20em 1em #444; }
		div{ position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; }
	</style>
	<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
        <script src="../res/jquery.js"></script>
    <script type="text/javascript">
    	var array = [];

      	google.setOnLoadCallback(getData);

      	function drawChart() {
        	var data = google.visualization.arrayToDataTable(array);
          var showEvery = parseInt(data.getNumberOfRows() / 4);

        	var options = {
          		title: 'Score Over Time',
          		curveType: 'function',
              hAxis: {
                showTextEvery: showEvery,
                direction:-1,
                slantedText:true,
                slantedTextAngle:45
              },
          		legend: { position: 'bottom' }
        	};

        	var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        	chart.draw(data, options);
        }

	    function getData(){
	    	$.post('http://brumhack.daniellockyer.com/analyse', {id: "<%= threadId %>"}, function(r) {
				  array = r;
				  drawChart();
	    	});
		}
    </script>

</head>
<body>
	<div id="curve_chart" style="width: 700px; height: 500px"></div>
</body>
</html>